Source: cbitcoin
Priority: extra
Maintainer: Joel DeJesus (Work Email) <dejesus.joel@e-flamingo.jp>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Section: libs
Homepage: https://e-flamingo.jp

Package: libcbitcoin-dev
Section: libdevel
Architecture: any
Depends: libcbitcoin2 (= ${binary:Version})
Description: Headers for cbitcoin based programs.
 This program only contains headers.

Package: libcbitcoin2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.

Package: libcbitcoin-file-ec2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.

Package: libcbitcoin-storage2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.

Package: libcbitcoin-threads2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.

Package: libcbitcoin-network2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.

Package: libcbitcoin-crypto2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.

Package: libcbitcoin-logging2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.

Package: libcbitcoin-file-no-ec2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.

Package: libcbitcoin-rand2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.
