Source: cbitcoin
Priority: extra
Maintainer: Joel DeJesus (Work Email) <dejesus.joel@e-flamingo.jp>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libev-dev, libssl-dev
Standards-Version: 3.9.3
Section: libs
Homepage: https://e-flamingo.jp

Package: libcbitcoin-dev
Section: libdevel
Architecture: any
Depends: libcbitcoin0 (= ${binary:Version})
Description: Headers for cbitcoin based programs.
 This program only contains headers.

Package: libcbitcoin0
Section: libs
Architecture: any
Depends: libc6, libevent-2.0-5 (>= 2.0.10-stable), libevent-core-2.0-5 (>= 2.0.10-stable), libevent-extra-2.0-5 (>= 2.0.10-stable), libevent-openssl-2.0-5 (>= 2.0.10-stable), libevent-pthreads-2.0-5 (>= 2.0.10-stable), libssl1.0.0 (>= 1.0.0), ${misc:Depends}
Description: Use cbitcoin functions
 Compile against cbitcoin libraries.


