Source: cbitcoin
Priority: unstable
Maintainer: Joel DeJesus (Work Email) <dejesus.joel@e-flamingo.jp>
Build-Depends: debhelper (>= 8.0.0), autotools-dev,  libevent-2.0-5, mime-support, libsigsegv2, libssl1.0.0, libc6-amd64:i386, zlib1g, libc6, gawk
Standards-Version: 0.01
Section: libs
Homepage: https://github.com/MatthewLM/cbitcoin/
Vcs-Git: git://github.com/MatthewLM/cbitcoin/
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cbitcoin.git;a=summary

Package: cbitcoin
Section: libdevel
Architecture: amd64
Depends: gawk
Description: Header files to compile stuff.
 Install this in order to properly install perl modules.

